main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

main > * {
    flex: 1 1 450px;
}

main form{
    padding: 0.75em 1.25em;
}

main form input, main form textarea{
    padding: 0.75em 1em;
}