#banner{
    min-height: 80vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#banner .top{
    display: flex;
    min-height: 62.5vh;
}

#banner .top > *{
    flex: 1;
}

#banner .top .lhs{
    padding: 1em;
    font-size: 16pt;
    font-size: x-large;
}

/* rent and buy form */
#banner .bottom{
    align-self: center;
    margin-top: -2.4em;
    width: 80%;
}
#banner .bottom .rent_buy{
    display: flex;
}

.rent_buy span{
    cursor: pointer;
    padding: 0.5em 1em;
}

.rent_buy span:hover, .rent_buy span.active, .form{
    background-color: rgb(184, 209, 235);
}

#banner .form{
    padding: 1em;
}

.form input{
    padding: 0.5em 1em 0.5em 1.5em;
}

.form select{
    padding: 0.7em 1em 0.7em 1.5em;
}

.form button{
    padding: 0.5em 0.75em;
    border: 1px solid orange;
    background-color: orangered;
    color: white;
}

/* property listing */
#types{
    padding: 1em 1em 2em;
    text-align: center;
}

.listings{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.listing{
    padding: 0.25em 1em;
    flex: 1 1 120px;
    border: 1px solid lightgrey;
    text-align: center;
    background-color: lightgrey;
}

/* popular section */
#popular .card{
    background-color: rgb(220, 220, 220);
    flex: 0.1 1 250px;
    padding: 0.5em 1em;
    text-align: center;
}

#popular .cards{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 0.75em;
    margin-top: 2em;
}

.card .head img{
    width: 70%;
    margin-top: -1.5em;
}

.card .head{
    height: 200px;
}

.card .content .top{
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75em;
    padding-bottom: 0.5em;
}

h4.price{
    padding: 0;
    margin: 0;
}

.cards .card:hover .head img{
    margin-top: -0.5em;
}

.card .base{
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.card .base .icon{
    display: flex;
    align-items: center;
    gap: 0.25em;
}

/* work with us numbering */
#why_work{
    display: flex;
    gap: 2.5rem;
    padding: 4em 2em;
}
.works{
    display: flex;
    flex-direction: column;
}

.work{
    display: flex;
    gap: 0.5em;
    margin: 0.75em auto;
}

.work .values > *{
    margin: 0;
}

.work .number{
    background-color: orange;
    font-weight: bold;
    align-self: flex-start;
    padding: 0.5em;
    font-size: large;
}

/* testimonial */
#testimonial{
    background-color: rgb(87%,85%,90%);
    padding: .5em .75em;
}

#testimonial > *:not(.testimonial-cards){
    text-align: center;
}

.testimonial-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 2.5em;
}

.testimonial-card{
    display: flex;
    flex: 0.1 1 320px;
    gap: 0.5em;
    padding: 1em 0.75em;
    background-color: #f1f1f1;
}

.testimonial-card .lhs{
    width: 150px;
    height: 50px;
}

.testimonial-card .rhs *{
    margin: 0;
}

.testimonial-card .down p{
    font-size: small;
}

@media screen and (max-height: 678px){
    #banner .top .lhs{
        display: none;
    }

    .cards .card{
        flex-grow: 1 !important;
    }

    .form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5em;
        margin-top: 0;
    }

    #banner .bottom{
        margin-top: 0;
        width: 98%;
    }

    .form > *{
        flex: 1;
        width: 100%;
    }

    #why_work{
        padding-left: 0.5em;
        padding-right: 0.5em;
        flex-wrap: wrap;
    }

    #why_work > .img{
        display: none;
    }

    #why_work > .content{
        background-color: #f1f1f1;
        padding: 0.5rem;
    }
}