<footer>
    <div class="foot-wrapper">
        <div id="page">
            <!-- website logo -->
            <div class="website-logo">
                <h1>
                    <span class="logo-rent">Rent</span><span class="logo-hero">Hero.</span>
                </h1>
            </div>
            <p class="web-statement">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta porro fuga ipsum ratione minima necessitatibus voluptas voluptatum laborum, totam molestias possimus hic assumenda perspiciatis commodi a. Cumque mollitia laboriosam similique.</p>
            <div class="social-links">
                <a href="" class="social-link icon">
                    <img src="assets/images/icons/013-facebook.png" alt="facebook">
                </a>
                <a href="" class="social-link icon">
                    <img src="assets/images/icons/014-instagram.png" alt="instagram">
                </a>
                <a href="" class="social-link icon">
                    <img src="assets/images/icons/004-twitter.png" alt="twitter">
                </a>
            </div>
        </div>
        <div id="explore">
            <h3>Explore</h3>
            <div class="nav-links">
                <a href="" class="nav-link">
                    <span>Rent a home</span>
                </a>
                <a href="" class="nav-link">
                    <span>Buy a home</span>
                </a>
                <a href="" class="nav-link">
                    <span>Become a partner</span>
                </a>
            </div>
        </div>

        <div id="contact">
            <h3>Contact</h3>
            <div class="address">
                <span class="tel">057 810 1031</span>
                <span class="email">example@email.com</span>
                <span class="street">24/0242 Osu Street, Accra-Ghana</span>
            </div>
        </div>
    </div>
    <div class="foot">
        <p>2023 &copy; Copyright RentHero. All Rights reserved</p>
    </div>
</footer>