<nav>
    <div class="nav-wrapper">
        <!-- website logo -->
        <div id="website-logo">
            <h1>
                <span id="rent">Rent</span><span id="hero">Hero.</span>
            </h1>
        </div>

        <!-- hamburgar -->
        <div id="ham">
            <span></span>
            <span id="not-small"></span>
            <span></span>
        </div>

        <!-- nav links -->
        <div class="nav-links">
            <a href="index.html" class="nav-link active-link">
                <span>Home</span>
            </a>
            <a href="property.html" class="nav-link">
                <span>Property</span>
            </a>
            <a href="contact.html" class="nav-link">
                <span>Contact Us</span>
            </a>
        </div>
    </div>
</nav>